<?xml version="1.0"?>

<launch>
 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam param="source_list">["/ur5/joint_states", "/robotiq/joint_states"]</rosparam>
  </node>
  
  <!--include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
    <remap from="/joint_states" to="/robotiq/joint_states"/>
  </include-->

  <include file="$(find tuto_moveit_config)/launch/tuto_moveit_planning_execution.launch">
  </include>

</launch>
